node_modules
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.development
.env.test.production
dist
.DS_Store
.vscode
.cursor
.cursorrules
.cursorignore
.cursorignorerules
.cursorignorerules.md
.cursorignorerules.txt
.cursorignorerules.yml
.cursorignorerules.yaml
.cursorignorerules.json


